div{
    /* fonte */
    font-family: SF Pro;
    font-size: 14px;
    /* básico */
    width: 300px;
    height: 200px;
    background-color: aqua;
    /* border */
    border-width: 5px;
    border-color: black;
    border-style: dotted;
    border-radius: 7px;
}

#um{
    color: gray;
    background-color: blue;
    border-width: 3px;
    border-color: red;
    border-style: dashed solid;
    border-top-width: 10px;
    border-bottom-width: 10px;
}

#dois{
    color: antiquewhite;
    background-color: darkblue;
    border-width: 7px;
    border-color: purple;
    border-style: double;
    border-left-style: hidden;
    border-right-style: hidden;
}

#quatro{
    font-family: DDTW00-CondensedSemiBold;
    text-align: center;
    width: 200px;
    height: 50px;
    font-size: 30px !important;
    color: white;
    background-color: mediumblue;
    border-width: 0px;
    border-radius: 50%;
    padding-bottom: 5px;
}

header h1{
    font-family: SF Pro;
    display: inline;
}

button{
    /* padding é o espaço interno entre o conteúdo de um elemento e a sua box area */
    padding: 5px 10px;
    /* vertical | horizontal */
     margin-left: 1200px;
    /* margem é o espaço externo entre o conteúdo e o resto do conteúdo */
}