<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= category %> do dia</title>
</head>

<body>
    <h1><%= category %> do dia!</h1>
    <ul>
        <% for( let produto of produtos ) { %>
            <li>
                    <%= produto.name %> <a href="/products/<%= produto._id %>">detalhes</a>
            </li>
        <% } %>
    </ul>
    <% if (category != "produtos") { %>
    <a href="/">ver todos os produtos</a>
    <% } %>
</body>

</html>