<% layout('layouts/boilerplate') %>
<% if (req.isAuthenticated()) { %>
    <h1>Bem vindo(a) de volta ao jogBola, <%= currentUser.name %>!</h1>
<% } else { %>
    <h1>Bem vindo(a) ao jogBola!</h1>
 <% } %>
</body>
