<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo produto</title>
</head>

<body>
    <h1>Adicione uma fazenda</h1>
    <form action="/farms" method="POST">
        <p>
            <label for="name">Nome da fazenda:</label>
            <input type="text" name="name" placeholder="Full Belly Farms">
        </p>
        <p>
            <label for="city">Cidade da fazenda:</label>
            <input type="text" name="city" placeholder="Atlanta, GA">
        </p>
        <p>
            <label for="email">Email da fazenda:</label>
            <input type="text" name="email" placeholder="fullbelly@fbf.com">
        </p>

        <button>Submit</button>
    </form>
</body>

</html>