<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheet/styles.css">
<div id="error_full">
    <div id="error_img">
        <img src="https://i.imgur.com/L7avy48.png" alt="bola murcha">
     </div>
    <div id="error_text">
        <div class="big">ERRO <%= statusCode %></div><br><h1>ALGO DEU ERRADO</h1>
     </div>
</div>