<% layout('layouts/boilerplate') %>
    <h1 class="mb-3">Novo Campo</h1>

    <form action="/campos" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
        <div class="mb-3">
            <label class="form-label" for="titulo">Nome do campo</label>
            <input class="form-control" type="text" id="titulo" name="campo[titulo]" placeholder="ex: Arena Ronaldinho" required>
            <div class="valid-feedback">
                Parece bom!
            </div>
            <div class="invalid-feedback">
                Por favor, insira o nome do campo.
              </div>    
        </div>
        <div class="mb-3">
            <label class="form-label" for="local">Cidade</label>
            <input class="form-control" type="text" id="local" name="campo[local]" placeholder="ex: Maceió" required>
            <div class="valid-feedback">
                Parece bom!
            </div>
            <div class="invalid-feedback">
                Por favor, insira a cidade onde está o seu campo.
              </div>  
        </div>
        <div class="mb-3">
            <label class="form-label" for="preco">Preço por hora</label>
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">R$</span>
                <input class="form-control" type="number" id="preco" name="campo[preco]" placeholder="ex: 250"
                    aria-describedby="price-label" required>
                    <div class="valid-feedback">
                        Parece bom!
                    </div>
                    <div class="invalid-feedback">
                        Por favor, insira o preço por hora do aluguel do campo.
                      </div>              
            </div>
        </div>
        <input type="file" name="imagem" id="">
        <!-- <div class="mb-3">
            <label class="form-label" for="imagem">Link da Imagem (se não houver imagem, não mexa)</label>
            <input class="form-control" type="text" id="imagem" name="campo[imagem]" placeholder="ex: Maceió"
                value="https://source.unsplash.com/collection/9600273" required>
                <div class="valid-feedback">
                    Parece bom!
                </div>
                <div class="invalid-feedback">
                    Por favor, insira uma imagem ou deixe o valor original.
                  </div>  
        </div> -->
        <div class="mb-3">
            <label class="form-label" for="descricao" class="mb-2">Descrição</label><br>
            <textarea class="form-control" id="descricao" name="campo[descricao]" rows="4" cols="50"
                placeholder="ex: campo society na beira da lagoa" minlength="35" required></textarea>
                <div class="valid-feedback">
                    Parece bom!
                </div>
                <div class="invalid-feedback">
                    Fale um pouco sobre o seu campo! (min. 35 caracteres)
                  </div>  
        </div>
        <div class="mb-3">
            <button class="btn btn-outline-success">Enviar</button>
        </div>
    </form>

    <br>
    <a class="btn btn-success mb-4" href="/campos">Todos os Campos</a>