<link rel="stylesheet" href="/stylesheets/styles.css">

<% if(success && success.length) { %>
    <div class="d-flex align-items-center alert alert-success alert-dismissible fade show" role="alert">
        <img src="https://i.imgur.com/nN6n6DV.png" alt="joseBola" class="align-middle"
            style="width: 60px; height: 60px; margin-right: 10px;">
        <%= success %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>

        <% if(error && error.length) { %>
            <div class="d-flex align-items-center alert alert-danger alert-dismissible fade show" role="alert">
                <img src="https://i.imgur.com/HzvSsSn.png" alt="joseBola" class="align-middle"
                    style="width: 60px; height: 60px; margin-right: 10px;">
                <%= error %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>