<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-success">&copy; 2023 <a href="http://caioagralemos.com" class="link text-success">caioagralemos</a></span>
    </div>
</footer>