<link rel="stylesheet" href="/stylesheets/styles.css">
<header class="header mb-5">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img id="navbarlogo" src="https://i.imgur.com/67Fm4y0.png"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" aria-current="page" href="/">Início</a>
                    <a class="nav-link" href="/campos">Campos</a>
                    <a class="nav-link" href="/campos/new">Novo Campo</a>
                </div>
                <div class="navbar-nav ms-auto">
                    <% if (req.isAuthenticated()) { %>
                        <a href="/logout" class="nav-link">Sair</a>
                    <% } else { %>
                        <a href="/login" class="nav-link">Entrar</a>
                        <a href="/register" class="nav-link">Crie sua Conta</a>
                     <% } %>
                </div>
            </div>
        </div>
    </nav>
    <br>
</header>