<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home page <%= 'hello world'.toUpperCase() //o que tiver aqui dentro vira js %></h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem possimus quia quod voluptates autem, quae corporis accusantium veniam, culpa sit vitae. Tempore magni, sit commodi adipisci doloremque quaerat corrupti. Laborum.
    Culpa ea quaerat neque repellat aliquid commodi est recusandae accusantium dolor veniam? Quidem aperiam eius, nostrum rem temporibus autem vel, enim, debitis tempora eveniet tempore quis quasi? Deserunt, dolorem laborum!
    Laudantium impedit, reiciendis nisi saepe, facere ipsa dicta est ut maiores, iure iusto iste? Soluta facere, totam ipsum perferendis, voluptatibus deserunt illo doloremque corporis ut mollitia consectetur ipsa beatae natus.
    Debitis, velit commodi, accusamus quasi harum illum architecto eligendi facilis dignissimos deleniti sit qui quia sint tempore! Eaque illum a impedit incidunt animi! Voluptates neque officia quos fuga placeat voluptas!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius enim dolor nulla iure. Explicabo, harum laboriosam repudiandae impedit fugit nam voluptatum quis, earum dolores, iusto aperiam at hic quisquam nulla.
    Voluptate necessitatibus nulla ab hic deleniti repudiandae ipsa repellat ipsam earum, tempore aliquid alias, sed accusamus eaque, atque ex labore ea eum corrupti odit. Ducimus recusandae corporis ex officiis culpa!</p>
</body>
</html>