<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comment</title>
</head>

<body>
    <h1>make a new comment</h1>
    <form action="/comments" method="post">
    <!-- vincula com o .post do index.js -->
        <section>
            <label for="username">Enter username:</label>
            <input type="text" name="username" placeholder="username">
        </section>
        <section>
            <label for="text">Enter your comment:</label>
            <br>
            <textarea name="text" id="text" cols="30" rows="5"></textarea>
        </section>
        <button>submit</button>
    </form>
    <br>
    <a href="/comments">back to index</a>
</body>

</html>