<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos os Campos</title>
</head>

<body>
    <h1>Todos os Campos</h1>
    <a href="/campos/new">Adicione um Campo</a>

    <ol>
        <% for( let campo of campos ) { %>
            <li>
                <a href="campos/<%= campo._id %>"><%= campo.titulo %></a> - <%= campo.local %><br><%= campo.preco %>
            </li>
            <% } %>
    </ol>
</body>

</html>