<% layout('layouts/boilerplate') %>
    <!-- chamar layout passa esse arquivo para o boilerplate como body -->
    <h1>Todos os Campos</h1>

    <p>
        <a href="/campos/new" class="">Adicione um Campo</a>
    </p>

    <ol>
        <% for(let campo of campos){ %>
            <li>
                <a href="campos/<%= campo._id %>">
                    <%= campo.titulo %>
                </a> - <%= campo.local %><br>
                    <%= campo.preco %>
            </li>
            <% } %>
    </ol>