<% layout('layouts/boilerplate') %>
    <h1>Novo Campo</h1>

    <form action="/campos" method="POST">
        <p>
            <label for="titulo">Nome do campo: </label>
            <input type="text" id="title" name="campo[titulo]" placeholder="ex: Arena Ronaldinho">
        </p>
        <p>
            <label for="local">Cidade:</label>
            <input type="text" id="local" name="campo[local]" placeholder="ex: Maceió">
        </p>
        <p>
            <label for="preco">Preço por hora: </label>
            <input type="text" id="preco" name="campo[preco]" placeholder="ex: R$ 250 / Hora">
        </p>
        <p>
            <label for="descricao" class="mb-2">Descrição: </label><br>
            <textarea id="descricao" name="campo[descricao]" rows="4" cols="50"
                placeholder="ex: campo society na beira da lagoa"></textarea>
        </p>
        <p>
            <button type="button" class="btn btn-outline-secondary">Enviar</button>
        </p>
    </form>

    <br>
    <a href="/campos">Todos os Campos</a>